body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Lora', serif;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -50px;
}
/* END HEADER */

/* MAIN CONTENT */
#main-row{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

#main-text {
	  background-color: #f6b319;
	  min-height: 1000px;
}
/* END MAIN CONTENT */

/********** Large devices only **********/
@media (min-width: 1200px) {
  .navbar-brand {
    padding-top: 20px;
    height: 60px;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-brand {
    padding-top: 20px;
    height: 60px;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-brand {
    padding-top: 20px;
    height: 60px;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 60px;
  }
  .navbar-brand h1 { /* Restaurant name*/ 
    padding-top: 10px;
    font-size: 5vw;  /* 1vw = 1% of viewport width */
  }
  
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  
  /* End Header */
}
